/* Estilização para telas menores */
header {
    background: #ffe6ff;
    padding: 20px 0;
    width: 100%;

    .caixa {
        position: relative;
        width: 1200px;
        margin: 0 auto;

    }

    .logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.header-logo {
    width: 90px;
    margin-right: 10px;
}

.nome-empresa{
display:flex
}

nav {
        position: static;
    }

    nav li {
        display: inline;
        margin: 0 0 0 15px;
    }

    nav a {
        text-transform: uppercase;
        color: #000000;
        color: var (--cor-preto);
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }

    nav a:hover {
        color: C78C19;
        text-decoration: underline;
    }

 /* Estilização para Tablets (telas medías)      */
 @media screen and (max-width: 480px)  {  
    }
    .nome-empresa{
    display:inline;
}

/* Estilização para Desktop (telas maiores)    */
@media screen and (max-width: 1080px)  {
}