.titulo-principal {
        text-align: center;
        font-size: 2em;
        margin: 0 0 0em;
        clear: left;
    }

    .principal {
        padding: 3em 0;
        background: #7715a5;
        width: 100%;
        margin: 0 auto;
    }

    .principal p {
        margin: 0 0 1em;
    }

    .principal strong {
        font-weight: bold;
    }

    .principal em {
        font-style: italic;
    }

    .utensilios {
        width: 30%;
        margin: 0 20px 20px 500px;
    }